<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <!-- Logo and Name -->
    <!-- Logo as an Image -->
    <img src="assets/images/banner.webp" alt="Wealthy Mindset Summit" class="logo" (click)="homepage()"/>

    <!-- Spacer to push menu to the right -->
    <span class="spacer"></span>

    <!-- Spacer to push menu to the right -->
    <span class="spacer"></span>

    <!-- Navigation Menu Button -->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>{{ icon }}</mat-icon>
    </button>

    <!-- Dropdown Menu -->
    <mat-menu #menu="matMenu" class="custom-menu">
      <button mat-menu-item (click)="navigateAboutUs()">
        <mat-icon>info</mat-icon> About WMS
      </button>
      <button mat-menu-item (click)="navigateRegister()">
        <mat-icon>app_registration</mat-icon> Register
      </button>
      <button mat-menu-item (click)="navigateSlide()">
        <mat-icon>record_voice_over</mat-icon> Speakers
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
