<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span class="logoName" (click)="homepage()">SLY CONFERENCE</span>
    <span class="example-spacer"></span>



    <button mat-button [matMenuTriggerFor]="menu"><mat-icon class="example-icon" aria-hidden="false" fontIcon="home"></mat-icon></button>
    <mat-menu #menu="matMenu">
    <!-- <div class="matMenu"> -->
      <button mat-menu-item  (click)="navigateAboutUs()">About WMS </button>
      <button mat-menu-item >Register</button>
      <button mat-menu-item >Speakers</button>
    <!-- </div> -->
    </mat-menu>

  </mat-toolbar-row>

</mat-toolbar>


