.social-icons {
    display: flex;
    gap: 15px;
  }


  img{
    width: 50%;
    height: auto;
    margin-left: 50%;
    margin-top: 0%;
  }
  
  .social-icons a {
    font-size: 24px; /* Size of the icons */
    color: #000; /* Icon color */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #0077b5; /* Change color on hover (LinkedIn blue as example) */
  }

  .uc{
    align-items: center;
    padding-left: 20%;
}

.about-wms{
  color: #0077b5;
  border: #ff8500;
  border-color: #ff8500;
}

#about-wmsheader{
  color: #ff8500;
  padding-left: 40%;
  font-size: x-large;
  margin-top: 5%;
}

#slywealth{
 text-align: left;
 align-items: left;
 margin: 0;
 padding: 0;
 max-width: 50%;
 line-height: 1.6;
 font-size: xx-large;

}