<div>
    <span>
    
        <span class="about-wms">
        <div id ="about-wmsheader"> MISSION </div> 

            Our mission is to deliver people from limiting mindsets, inspire purposeful living, and equip individuals with the requisite mindset and strategies to create generational wealth. We believe in building a community of empowered leaders who can influence their world through financial mastery, innovative thinking, and a heart for lasting impact.

        </span>

    <span class="about-wms">
        <div id ="about-wmsheader"> ABOUT WMS </div> 

        At Wealthy Mindset Summit, we are committed to empowering individuals with the knowledge, mindset, and strategies they need to break free from financial limitations and build a timeless legacy. Founded on the belief that true wealth begins in the mind, our summit serves as a transformative platform for believers and visionaries who aspire to thrive in their finances, businesses, and personal lives.

        Founded in 2023 by Sylvester Wealth, the summit was born out of a passion to inspire believers and visionaries to thrive in their finances, businesses, and personal lives.

        Through engaging workshops, insightful keynote sessions, and hands-on training, we equip participants with practical tools for financial growth, leadership development, and entrepreneurial success. Our speakers are seasoned industry leaders and thought influencers who bring years of experience and wisdom to every session.

        Whether you’re seeking financial independence, business growth, or personal development, the Wealthy Mindset Summit provides a supportive community where you can learn, grow, and thrive.

        Join us on this journey of transformation, and together, let’s build a future rooted in purpose, prosperity, and lasting impact!
    </span>

    <span class="about-wms">
        <div id ="about-wmsheader"> SLYVESTER WEALTH </div> 

        Sylvester Wealth is a passionate author and speaker, dedicated to helping individuals, particularly young people, maximize their lives and deepen their relationship with God.
         With a Bachelor's degree in Theology, he serves as a pastor at Gracefield Revival Church, where he guides many on their spiritual journey. 
         He helps individuals to commit to a lifelong journey of spiritual and personal growth.
        
<div class="uc">
    <img src="assets/images/sly.nef" alt="Facebook" width="300" />
</div>      

        </span>
    </span>
    </div>

    <app-visitor-form></app-visitor-form>

