<div class="form-body">
  <footer class="footer">
    <div class="form-container">
      <mat-card class="form-card">
        <h2 mat-card-title class="title">
          Connect with Us
        </h2>

        <!-- Social Media Icons -->
        <div class="social-icons">
          <a href="https://www.facebook.com/Slyharington" target="_blank">
            <img src="assets/images/facebook-icon.svg" alt="Facebook" />
          </a>

          <a href="https://www.facebook.com/Slyharington" target="_blank">
            <img src="assets/images/twitter-X.svg" alt="TwitterX" />
          </a>

          <a href="https://www.youtube.com/@sylvesterwealth" target="_blank">
            <img src="assets/images/youtube.svg" alt="YouTube" />
          </a>
        </div>

        <!-- Contact Form -->
        <form [formGroup]="loginFr" (ngSubmit)="onSubmit()" class="contact-form">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required />
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required />
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" type="email" required />
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phone" type="tel" required />
          </mat-form-field>

          <div class="submit-container">
            <button mat-raised-button color="primary" type="submit">Submit</button>
          </div>
        </form>
      </mat-card>
    </div>
  </footer>
</div>
